<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAPHIC ALGORITHMS</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="algorithms.js"></script>
</head>
<body id="index">
    <div id="container">
        <h1>HELLO</h1>
        <p>Time to dive into an interesting realm!!</p>
        <div id="container1">
            <a href="/lineAlgorithm"><button class="button">LINE ALGORITHMS</button></a>
            <a href="/circleAlgorithm"><button class="button">CIRCLE ALGORITHMS</button></a>
        </div>
    </div>
</body>
</html>